@import "tailwindcss";

* {
    /* color: white; */
    flex-shrink: 0;
    scrollbar-color: white #0a0a0f;
}
body {
    font-family: "Gabarito";
    color: white;
    background: #0a0a0f;
    overflow: hidden;
}
