@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
